* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    color: white;
}





.container {
    height: 100%;
    display: grid;
    grid-template-areas:
        'header header'
        'sidebar content';
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}



.header {

    grid-area: header;
    display: flex;
    justify-content: space-between;

    background-color: rgb(33, 33, 33);
    border-bottom: solid rgb(104, 96, 96) 2px;
}

.header .material-symbols-outlined {
    cursor: pointer;
    color: white;

}


.header .material-symbols-outlined:hover {
    background-color: rgb(55, 54, 54);
}

.right,
.left,
.middle {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: bolder;
}






.sidebar {

    grid-area: sidebar;

    width: 60vw;
    background-color: rgb(24, 24, 24);

    transition: width 0.4s ease-out, padding 0.3s ease;

    overflow-x: hidden;
    /* Critical: Hides text as it shrinks */
    white-space: nowrap;
    /* Prevents text from wrapping uglily while shrinking */

    overflow-y: auto;
    scrollbar-width: none;
}


.sidebar.collapsed {
    width: 0;
    padding: 0;
    border: none;
}

.newChat {
    height: 5vh;


    display: flex;
    flex-direction: row;


    border-radius: 30px;
    border: none;
    outline: none;


    gap: 10px;
    padding: 5px;
    margin: 5px;

    align-content: center;
}

.newChat:hover {
    background-color: rgb(39, 38, 38);
    cursor: pointer;
}

.newChat:focus-within {
    background-color: rgb(24, 24, 24);
}




.newChatName {
    height: 10%;

    display: block;

    background-color: rgb(39, 38, 38);


    border-radius: 30px;
    border: none;
    outline: none;

    padding: 5px;
    margin: 5px;


    color: white;
    font-weight: bolder;
}






.chats {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;

    text-align: start;

    display: flex;
    flex-direction:row;
    justify-content: space-between;
}


.chats p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chats .deleteBtn{
    flex-shrink: 0;
}


.chats:hover {
    cursor: pointer;
    background-color: rgb(39, 38, 38);
}



.content {

    grid-area: content;
    display: flex;
    flex-direction: column;

    overflow: hidden;
    background-color: rgb(33, 33, 33);


}


.content.overlapped {
    opacity: 0.5;
}

.chatArea {
    max-height: 95%;
    flex: 1;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
    /* still scrollable */
    /* Hide scrollbar */
    scrollbar-width: none;

}

.user,
.assistant {
    padding: 12px;
    margin: 20px;
    line-height: 2;
    border-radius: 18px;
    word-wrap: break-word;
}


.user {
    align-self: flex-end;
    max-width: 65%;
    background-color: rgb(40, 42, 44);
    border: none;
    outline: none;
}

.assistant {
    align-self: flex-start;
    max-width: 80%;
    border: none;
    outline: none;
}




#prompt {
    width: 80%;

    min-height: 5%;
    /* Scrollbar behavior */
    overflow-y: hidden;
    /* Hide scrollbar while growing */
    scrollbar-width: none;
 

    resize: none;


    color: white;
    background-color: rgb(66, 65, 65);
    box-sizing: border-box;
    padding: 30px 30px 10px 10px;
    border: none;
    outline: none;
    border-radius: 26px;
    /* The secret for perfect curves */
    padding: 12px;
    margin-left: 10%;

    transition: height 0.3s ease-out;
    /* Makes the expansion feel "fluid" */

}


@media (min-width:768px) {

    .content.overlapped {
        opacity: 1;
    }

    .sidebar {
        width: 20vw;
    }
}